

:root{
  --bg-color:#acbdce;
}

body{
  background: var(--bg-color);

}
  /* Navbar styles */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
  }

  body {
    margin-top: 50px;
    margin-bottom: 100px; /* Add margin to body to prevent content from overlapping with the fixed navbar */
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
  }

  /* Header styles */
  header {
    text-align: center;
    padding: 50px;
    color: #0715da;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #7b7b81;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  .form-group {
    display: grid;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;

    
  }
  



/* Footer styles */
footer {
  background-color: #333;
  color: #af2222;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}